/*
A few notes:
Stuff in base.scss:
  :root and its variables.
  Css reset.
  Mixins.

Navigation -- for the nav bar and pagination
Home       -- styles for index.html
Article    -- styles for article.html

*/
/*#region Variables  */
:root {
  --dark-grey: #333333;
  --light-grey: #eeeeee;
  --color: var(--light-grey);
  --purple: #47294c;
  --purple-low-opacity: rgba(71, 41, 76, 0.8);
  --brown: #715416;
  --blue: #00616a;
  --grey-text-shadow: 2px 2px 1px var(--dark-grey);
  --nav-height: 50px;
  --nav-border: solid 1px var(--light-grey);
  --nav-right-pad: 15px;
  --burger-width: 35px;
  --burger-height: 3px;
  --burger-bar-offset: 12px;
  --main-size: 16px;
  --header-size: 35px;
  --sub-header-size: 30px;
  --serif-font: "Cormorant Garamond", "Times New Roman", Georgia, Serif;
  --sans-serif-font: "Lato", Helvetica, Arial, sans-serif;
  --home-post-mobile-width: 100vw;
  --home-post-side-padding: 15px;
  --home-post-margin: 15px;
}

/*#endregion Variables  */
/*#region Start CSS Reset */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: var(--font-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
  color: var(--light-grey);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-serif-font);
  margin-bottom: calc(var(--nav-height) / 2);
}

h1 {
  font-size: var(--header-size);
  font-family: var(--sans-serif-font);
  font-weight: normal;
}

h2 {
  font-size: var(--sub-header-size);
}

p {
  font-size: var(--main-size);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

/*#endregion End CSS Reset */
body {
  background-color: var(--dark-grey);
  padding-top: var(--nav-height);
}

/*#region Universal Classes */
.button-normal {
  align-items: center;
  background-color: var(--blue);
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  padding: 15px 25px;
}

/*#endregion Universal Classes */
/*#region Mixins */
/*#endregion Mixins */
/*#region Nav */
nav {
  background-color: var(--dark-grey);
  border-bottom: var(--nav-border);
  height: var(--nav-height);
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: height 250ms;
  width: 100%;
}
nav ul {
  display: grid;
  grid-template-rows: var(--nav-height) auto;
  justify-items: end;
}
nav ul li {
  align-items: center;
  display: flex;
  height: var(--nav-height);
  justify-content: flex-end;
  padding-right: var(--nav-right-pad);
  width: 100vw;
}
nav ul li:not(:first-child) {
  border-top: var(--nav-border);
}
nav ul li a {
  line-height: calc(var(--nav-height) - 1px);
  text-align: end;
}
nav ul li .burger {
  position: relative;
}
nav ul li .burger, nav ul li .burger::before, nav ul li .burger::after {
  background-color: var(--light-grey);
  border-radius: 2px;
  height: var(--burger-height);
  transition: transform 300ms, top 200ms;
  width: var(--burger-width);
}
nav ul li .burger::before, nav ul li .burger::after {
  content: "";
  display: block;
  position: absolute;
}
nav ul li .burger::before {
  top: calc(var(--burger-bar-offset) * -1);
}
nav ul li .burger::after {
  top: var(--burger-bar-offset);
}
nav ul li.open .burger {
  transform: rotate(45deg);
}
nav ul li.open .burger::before {
  top: 0px;
}
nav ul li.open .burger::after {
  top: 0px;
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  nav ul {
    grid-auto-flow: column;
    grid-template-rows: none;
  }
  nav ul li {
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
    transition: background-color 250ms;
  }
  nav ul li:hover {
    background-color: var(--blue);
  }
  nav ul li.burger-container {
    display: none;
  }
  nav ul li:not(:first-child) {
    border-top: none;
  }
  nav ul li:nth-child(2) {
    justify-self: start;
  }
}
/*#endregion Nav */
/*#region pagination */
section#posts .paginator-outer {
  border-top: var(--nav-border);
  height: var(--nav-height);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
section#posts .paginator-outer a {
  color: var(--light-grey);
  height: 100%;
  max-width: var(--nav-height);
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 250ms;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
section#posts .paginator-outer a:hover {
  background-color: var(--blue);
}
section#posts .paginator-outer a.next-page {
  margin-left: 10px;
}
section#posts .paginator-outer a.previous-page {
  margin-right: 10px;
}

/*#endredion pagination */
/*#region Home */
section#home {
  align-items: center;
  background-size: cover;
  background-position: center top;
  border-bottom: solid 5px var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15vh;
  text-align: center;
  height: calc(100vh - var(--nav-height));
}
section#home div {
  background-color: var(--purple-low-opacity);
  border-radius: 10px;
  padding: 5vh 15px;
}
section#home h1, section#home h2 {
  text-shadow: var(--grey-text-shadow);
}

@media (min-width: 769px) {
  section#home {
    justify-content: center;
  }
  section#home h2 {
    font-family: var(--serif-font);
  }
}
/*#endregion Home */
/*#region Posts */
section#posts {
  padding-top: var(--nav-height);
}
section#posts h1 {
  text-align: center;
}
section#posts ol {
  display: grid;
  grid-row-gap: calc(var(--nav-height) / 2);
  padding-top: calc(var(--nav-height) / 5);
  padding-bottom: var(--nav-height);
}
section#posts ol li:nth-child(even) {
  background-color: var(--brown);
}
section#posts ol li:nth-child(odd) {
  background-color: var(--blue);
}
section#posts ol li {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  padding-bottom: calc(var(--nav-height) / 2);
}
section#posts ol li a {
  align-items: center;
  display: flex;
  flex-direction: column;
}
section#posts ol li a img {
  border-radius: 5px;
  max-height: 50vw;
  width: var(--home-post-mobile-width);
  -o-object-fit: cover;
     object-fit: cover;
}
section#posts ol li h2 {
  font-family: var(--sans-serif-font);
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
section#posts ol li p {
  max-height: 33vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 480px) {
  section#posts ol {
    grid-template-columns: 66vw;
    grid-template-rows: 66vw;
    justify-content: center;
  }
  section#posts ol li {
    height: 66vw;
  }
}
@media (min-width: 769px) {
  section#posts ol {
    grid-column-gap: var(--nav-height);
    grid-row-gap: 3vw;
    grid-template-columns: repeat(2, 35vw);
    grid-template-rows: 35vw;
    justify-content: center;
  }
  section#posts ol li {
    height: 35vw;
  }
  section#posts ol li a img {
    max-height: 25vw;
  }
  section#posts ol li p {
    max-width: 450px;
  }
}
/*#endregion Posts */
section#article-container {
  display: flex;
  justify-content: center;
}
section#article-container div#article-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-bottom: var(--nav-height);
}
section#article-container div#article-content header h2 {
  font-family: var(--sans-serif-font);
  padding-top: var(--nav-height);
  text-align: center;
}
section#article-container div#article-content .entry-content {
  border-top: solid 2px var(--blue);
  padding-left: calc(var(--nav-height) / 2);
  padding-right: calc(var(--nav-height) / 2);
  padding-top: calc(var(--nav-height) / 2);
  max-width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
section#article-container div#article-content .entry-content h1 {
  display: inline-block;
  margin-bottom: calc(var(--nav-height) / 4);
  width: 100%;
}
section#article-container div#article-content .entry-content h1::after {
  border-bottom: solid 2px var(--brown);
  content: "";
  display: block;
  width: 100%;
  height: 1px;
}
section#article-container div#article-content .entry-content h1, section#article-container div#article-content .entry-content h2, section#article-container div#article-content .entry-content h3, section#article-container div#article-content .entry-content h4, section#article-container div#article-content .entry-content h5, section#article-container div#article-content .entry-content h6 {
  text-align: center;
}
section#article-container div#article-content .entry-content h1:not(:first-child), section#article-container div#article-content .entry-content h2:not(:first-child), section#article-container div#article-content .entry-content h3:not(:first-child), section#article-container div#article-content .entry-content h4:not(:first-child), section#article-container div#article-content .entry-content h5:not(:first-child), section#article-container div#article-content .entry-content h6:not(:first-child) {
  margin-top: var(--nav-height);
}
section#article-container div#article-content .entry-content h1:not(:first-child) {
  margin-top: calc(var(--nav-height) * 2);
}
section#article-container div#article-content .entry-content img {
  max-height: calc(90vh - var(--nav-height));
}
section#article-container div#article-content .entry-content p {
  line-height: 1.5em;
  max-width: 500px;
}
section#article-container div#article-content .entry-content p a {
  color: white;
  padding: 2px 5px 0px;
  text-decoration: underline;
  transition: color 200ms;
  transition: background-color 250ms;
}
section#article-container div#article-content .entry-content p a:hover {
  background-color: var(--blue);
}
section#article-container div#article-content .entry-content p a:hover {
  color: var(--light-grey);
}
section#article-container div#article-content .entry-content p, section#article-container div#article-content .entry-content figure, section#article-container div#article-content .entry-content figcaption {
  padding-bottom: calc(var(--nav-height) / 4);
  padding-top: calc(var(--nav-height) / 4);
}
section#article-container div#article-content .entry-content figcaption {
  background-color: var(--purple);
  text-align: center;
}
section#article-container div#article-content .entry-content ul {
  list-style-type: circle;
  list-style-position: inside;
}
section#article-container div#article-content .entry-content ul ul {
  margin-bottom: calc(var(--nav-height) / 4);
  margin-left: calc(var(--nav-height) / 2);
  margin-top: calc(var(--nav-height) / 16);
}
section#article-container div#article-content .entry-content ul ul ul {
  margin-bottom: calc(var(--nav-height) / 4);
  margin-left: calc(var(--nav-height) / 2);
  margin-top: calc(var(--nav-height) / 16);
}
section#article-container div#article-content .entry-content ul ul ul ul {
  margin-bottom: calc(var(--nav-height) / 4);
  margin-left: calc(var(--nav-height) / 2);
  margin-top: calc(var(--nav-height) / 16);
}
section#article-container div#article-content .entry-content ul ul ul ul ul {
  margin-bottom: calc(var(--nav-height) / 4);
  margin-left: calc(var(--nav-height) / 2);
  margin-top: calc(var(--nav-height) / 16);
}

@media (min-width: 475px) {
  section#article-container {
    background-color: var(--purple);
    min-height: calc(100vh - var(--nav-height));
  }
  section#article-container div#article-content {
    background-color: var(--dark-grey);
  }
}/*# sourceMappingURL=main.css.map */