section#article-container {
    display: flex;
    justify-content: center;

    div#article-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 800px;
        padding-bottom: var(--nav-height);

        header {
            h2 {
                font-family: var(--sans-serif-font);
                padding-top: var(--nav-height);
                text-align: center;
            }
        }

        .entry-content {
            border-top: solid 2px var(--blue);
            padding-left: calc(var(--nav-height) / 2);
            padding-right: calc(var(--nav-height) / 2);
            padding-top: calc(var(--nav-height) / 2);
            max-width: 100%;
            @include flex-column-horiz-center;

            h1 {
              // border-bottom: solid 2px var(--brown);
              display: inline-block;
              margin-bottom: calc(var(--nav-height) / 4);
              width: 100%;

              &::after {
                border-bottom: solid 2px var(--brown);
                content: "";
                display: block;
                // max-width: 100vw;
                // transform: translatex(-5%);
                width: 100%;
                height: 1px;
              }
            }

            h1, h2, h3, h4, h5, h6 {
              text-align: center;

              &:not(:first-child) {
                margin-top: var(--nav-height);
              }
            }

            h1:not(:first-child) {
              margin-top: calc(var(--nav-height) * 2);
            }

            // h1 {
            //   font-size: 3em;
            // }

            // h2 {
            //   font-size: 2.75em;
            // }

            // h3 {
            //   font-size: 2.5em;
            // }

            img {
                max-height: calc(90vh - var(--nav-height));
            }

            p {
                line-height: 1.5em;
                max-width: 500px;

                a {
                    color: white;
                    padding: 2px 5px 0px;
                    text-decoration: underline;
                    transition: color 200ms;
                    @include nav-hover;

                    &:hover {
                        color: var(--light-grey);
                    }
                }
            }

            p, figure, figcaption {
                padding-bottom: calc(var(--nav-height) / 4); 
                padding-top: calc(var(--nav-height) / 4);
            }

            figcaption {
                background-color: var(--purple);
                text-align: center;
            }

            @include nested-list;
        }
    }
}

@media (min-width: 475px) {
    section#article-container {
        background-color: var(--purple);
        min-height: calc(100vh - var(--nav-height));

        div#article-content {
            background-color: var(--dark-grey);
        }
    }
}