/*#region Variables  */
:root {
    --dark-grey: #333333;
    --light-grey: #eeeeee;
    --color: var(--light-grey);

    --purple: #47294c;
    --purple-low-opacity: rgba(71, 41, 76, 0.8);
    --brown:  #715416;
    --blue:   #00616a;

    --grey-text-shadow: 2px 2px 1px var(--dark-grey);


    --nav-height: 50px;
    --nav-border: solid 1px var(--light-grey);
    --nav-right-pad: 15px;
    --burger-width: 35px;
    --burger-height: 3px;
    --burger-bar-offset: 12px; 

    --main-size: 16px;
    --header-size: 35px;
    --sub-header-size: 30px;

    --serif-font: "Cormorant Garamond", "Times New Roman", Georgia, Serif;
    --sans-serif-font: "Lato", Helvetica, Arial, sans-serif;



    --home-post-mobile-width: 100vw;
    --home-post-side-padding: 15px;
    --home-post-margin:       15px;
}
/*#endregion Variables  */


/*#region Start CSS Reset */
html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    color: var(--font-color);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure {
    color: var(--light-grey);
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--sans-serif-font);
    margin-bottom: calc(var(--nav-height) / 2);
}

h1 {
    font-size: var(--header-size);
    font-family: var(--sans-serif-font);
    font-weight: normal;
}

h2 {
    font-size: var(--sub-header-size);
}

p {
    font-size: var(--main-size);
}

ol,
ul {
    list-style: none;
}

a {
    // display: block;
    // color: var(--blue);
    text-decoration: none;
}

img, video {
    max-width: 100%;
    height: auto;
}
/*#endregion End CSS Reset */


body {
    background-color: var(--dark-grey);
    padding-top: var(--nav-height);
}


/*#region Universal Classes */
.button-normal {
    align-items: center;
    background-color: var(--blue);
    color: var(--light-grey);
    display: flex;
    justify-content: center;
    padding: 15px 25px;
}
/*#endregion Universal Classes */


/*#region Mixins */
@mixin nav-hover {
    transition: background-color 250ms;

    &:hover {
        background-color: var(--blue);
    }
}

@mixin flex-normal-center-center {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

@mixin flex-column-horiz-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@mixin nested-list {
  ul {
    list-style-type: circle;
    list-style-position: inside;

    ul {
      margin-bottom: calc(var(--nav-height) / 4);
      margin-left: calc(var(--nav-height) / 2);
      margin-top: calc(var(--nav-height) / 16);

      ul {
        margin-bottom: calc(var(--nav-height) / 4);
        margin-left: calc(var(--nav-height) / 2);
        margin-top: calc(var(--nav-height) / 16);

        ul {
          margin-bottom: calc(var(--nav-height) / 4);
          margin-left: calc(var(--nav-height) / 2);
          margin-top: calc(var(--nav-height) / 16);

          ul {
            margin-bottom: calc(var(--nav-height) / 4);
            margin-left: calc(var(--nav-height) / 2);
            margin-top: calc(var(--nav-height) / 16);
          }
        }
      }
    }
  }
}
/*#endregion Mixins */