/*#region Home */
section#home {
    align-items: center;
    background-size: cover;
    background-position: center top;
    border-bottom: solid 5px var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15vh;
    padding-top: 50px;
    text-align: center;
    // height: calc(100vh - var(--nav-height));

    a {
        background-color: var(--brown);
        border-radius: 5px;
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 15px 0;
        width: 250px;
        transition: 250ms;

        &:hover {
            background-color: var(--blue);
            font-size: 1.2rem;
        }
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        width: 75vw;
        max-width: 550px;
    }
      
      

    // div {
    //     background-color: var(--purple-low-opacity);
    //     border-radius: 10px;
    //     padding: 5vh 15px;
    // }

    h1 {
        font-size: 15vw;
        white-space: nowrap;
        font-family: var(--serif-font);
    }

    h2 {
        font-size: 7vw;
        white-space: nowrap;
        font-family: var(--sans-serif-font);
    }

    h3 {
        padding: 50px 0 0;
    }

}

@media (min-width: 769px) {
    section#home {
        justify-content: center;
    }
}

@media (orientation: landscape) {
    section#home {
        h1 {
            font-size: 12vh;
        }

        h2 {
            font-size: 5vh;
        }
    }
}
/*#endregion Home */


/*#region Posts */
section#posts {
    padding-top: var(--nav-height);

    h1 {
        text-align: center;
    }

    ol {
        display: grid;
        grid-row-gap: calc(var(--nav-height) / 2);
        padding-top: calc(var(--nav-height) / 5);
        padding-bottom: var(--nav-height);

        li:nth-child(even) {
            background-color: var(--brown);
        }
        li:nth-child(odd) {
            background-color: var(--blue);
        }

        li {
            align-items: center;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: auto;
            padding-bottom: calc(var(--nav-height) / 2);

            a {
                align-items: center;
                display: flex;
                flex-direction: column;


                img {
                    border-radius: 5px;
                    max-height: 50vw;
                    width: var(--home-post-mobile-width);
                    object-fit: cover;
                }
            }

            h2 {
                font-family: var(--sans-serif-font);
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
            }

            p {
                max-height: 33vw;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}


@media (min-width: 480px) {
    section#posts {
        ol {
            grid-template-columns: 66vw;
            grid-template-rows: 66vw;
            justify-content: center;

            li {
                height: 66vw;
            }
        }
    }
}

@media (min-width: 769px) {
    section#posts {
        ol {
            grid-column-gap: var(--nav-height);
            grid-row-gap: 3vw;
            grid-template-columns: repeat(2, 35vw);
            grid-template-rows: 35vw;
            justify-content: center;

            li {
                height: 35vw;

                a { 
                    img {
                        max-height: 25vw;
                    }
                }

                p {
                    max-width: 450px;
                }
            }
        }
    }
}

/*#endregion Posts */