{% extends "base.html" %}
{% block content %}
<section id="home" style="background-image: url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ HOME_IMAGE }}">
  <div>
    <h1>Hi, I'm Jeremy</h1>
    <h2>This is the place to follow along with my&nbsp;adventures</h2>
  </div>
</section>

<section id="posts">
  <h1>Recent Posts</h1>
  <ol id="post-list">
    {% for article in articles_page.object_list %}
      <li>
        <article class="hentry">
          <header> <h2 class="entry-title">
            <a href="{{ SITEURL }}/{{ article.url }}" 
               rel="bookmark" 
               title="Permalink to {{ article.title|striptags }}">
              {% if article.postimage %}
                <img class="post-image" src="{{ SITEURL }}/images/{{ article.postimage }}" alt="">
              {% endif %}
               {{ article.title }}
            </a>
          </h2> </header>
          <footer class="post-info">
            <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
          </footer><!-- /.post-info -->

          <div class="entry-content">
            {{ article.summary }}
          </div><!-- /.entry-content -->
        </article>
      </li>
    {% endfor %}
  </ol><!-- /#posts-list -->

  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}
</section>
{% endblock content %}
