{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<div class="paginator-outer">
  {% if articles_page.has_previous() %}
      <a class="previous-page" href="{{ SITEURL }}/{{ articles_previous_page.url }}">↩</a>
  {% endif %}

  {% for page_number in range(articles_paginator.num_pages) %}
    {% if page_number == 0 %}
      <a href="{{ SITEURL }}/{{ BLOG_URL }}">{{ page_number + 1 }}</a>  
    {% else %}
      <a href="{{ SITEURL }}/{{ BLOG_URL }}/index{{ page_number + 1 }}.html">{{ page_number + 1 }}</a>
    {% endif %}
  {% endfor %}

  {% if articles_page.has_next() %}
      <a class="next-page" href="{{ SITEURL }}/{{ articles_next_page.url }}">↪</a>
  {% endif %}
</div>
{% endif %}
